body {
    background-color: black;
    color: white;
}

img {
    max-width: 100%;
    height: auto; 
}

.images-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-start; 
    position: relative;
}

.images-display .image-item {
    flex: 0 0 33.33%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.images-display .image-item p {
    max-width: 100%;
}


h1, p{
    color: white;
    text-align: center;
}

p{
    font-size: 1.5em;
}


.card-container {
    width: 300px;
    padding: 20px;
    background-color: #cfbbbb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.card-container h1, .card-container, p {
    text-align: left;
    color: rgb(155, 20, 218);
}

.card-container form {
    margin-top: 20px;
}

.card-container label {
    display: block;
    margin-bottom: 5px;
}

.card-container input[type="text"],
.card-container textarea {
    width: calc(100% - 22px);
    padding: 6px;
    margin-bottom: 10px;
}

.card-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.card-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.card-container a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.card-container a:hover {
    text-decoration: underline;
}

.new-fact{
    margin-top: 20px;
    text-align: center;
    font-size: 2em;
    background-color: green;
}

a{
    color: white;
    text-decoration: none;
}
